*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Georgia, serif;
    background:linear-gradient(135deg,#ffe4ef,#fff7fb,#fff);
    color:#444;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:38px;
    color:#d6336c;
    margin-bottom:10px;
}

.hero p{
    font-size:16px;
    line-height:1.5;
    max-width:400px;
    margin-bottom:15px;
}

button{
    padding:12px 28px;
    border:none;
    border-radius:999px;
    background:#ff5d96;
    color:white;
    font-size:16px;
    cursor:pointer;
}


#surat{
    padding:30px 15px;
}

.music-card, .letter-card{
    max-width:500px;
    margin:15px auto;
    text-align:center;
}

#typing{
    font-size:18px;
    line-height:1.5;
    white-space:pre-line;
    text-align:justify;
}


.gallery-card{
    text-align:center;
    margin-top:20px;
}

#slide{
    width:180px;
    height:240px;
    object-fit:cover;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}


#secretBox{
    text-align:center;
    margin-top:20px;
}


#lastMessage{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:25px;
    width:90%;
    max-width:400px;
    border-radius:20px;
    box-shadow:0 20px 60px rgba(0,0,0,.2);
}


#loading{
    position:fixed;
    inset:0;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.bar{
    width:250px;
    height:10px;
    background:#eee;
    border-radius:999px;
    overflow:hidden;
}

#progress{
    width:0%;
    height:100%;
    background:#ff5d96;
}
